:host {
  display: flex;
  align-items: center;
}
button {
  margin: 0 auto;
  cursor: pointer;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  background: #2f80ed;
  border-radius: 8px;
  border: 0;
  box-shadow: none;
  padding: 8px 10px;
  color: #fff;
  border-color: unset;
}
.image-input {
  opacity: 0;
}
.center {
  margin: 0 auto;
}
